<%- include('partials/header') %>
<div class="container">
<div class="header-index">
    <h1 class="bg-primary">Contact Manager</h1>
</div>
<% foundUser.forEach((foundData) =>{ %>
<div class="contact-container">

    <section class="contact-header">
        <img class="img-contact" src="/img/1.png" alt="contact-photo" height="100" width="100">
        <h2><%=foundData.fullName %></h2>
    </section>
    <section class="contact-content">
        <p><%=foundData.contactNumber %></p>
        <p><%=foundData.emailAddress %></p>
    </section>
    <section class="controls">
        <a class="btn btn-edit btn-primary" href="user/<%= foundData._id%>">Modify</a>
        <a class="btn btn-edit btn-danger" href="delete/<%= foundData._id%>">Remove</a>
    </section>
  
</div>
  <% }); %>
</div>

<%- include('partials/footer') %>